/* *remove the margin of the body */
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* ? how to fix the size of the body */
#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#nav-bar ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
}
#nav-bar ul .nav-link{
  padding: 0 30%;
}
#nav-bar ul .nav-link a {
  text-decoration: none;
  color: #000000;
}
